[Unit]
Description=Gunicorn instance to serve application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/sqlinjection
Environment="PATH=/root/.venv/bin"
ExecStart=/root/.venv/bin/gunicorn --workers 1 --bind 0.0.0.0:1969 main:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target